#image-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 100%;
}

#image-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: 0.5s;
}

#image-grid img:hover {
  opacity: 50%;
}

#lightbox-wrapper {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.close-wrapper {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  color: white;
}

.close-wrapper span {
  cursor: pointer;
}

#main-image-wrapper {
  position: relative;
  width: 70%;
  height: 60vh;
}

#main-image {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

#prev-btn,
#next-btn {
  position: absolute;
  top: 40%;
  background-color: white;
  border: 1px solid orange;
  padding: 10px;
  cursor: pointer;
  transition: 0.5s;
}

#prev-btn:hover,
#next-btn:hover {
  background-color: orange;
  color: white;
}

#prev-btn {
  left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#next-btn {
  right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#thumnail-wrapper {
  width: 70%;
  overflow-x: auto;
}

.thumbnail {
  height: 50px;
  width: 50px;
  object-fit: cover;
  cursor: pointer;
}

.thumbnail:hover {
  opacity: 50%;
}
